:root {
  font-family: "Montserrat";

  --backgroundColorSoftGray: #f7f8fa;
  --whiteColor: #ffffff;
  --backgroundColorBlack: #1a1a1a;
  --redColorMarvel: #ED1D24;
  --backgroundColor: black;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--backgroundColor);
}

.white-mode {
  --backgroundColor: var(--backgroundColorSoftGray);
}

/* Styles for the scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--whiteColor);
  border-radius: 4px;

}

::-webkit-scrollbar-button {
  height: 10px; 
}
::-webkit-scrollbar-thumb {
  background-color: var(--redColorMarvel);
  border-radius: 4px;
  height: 10px;

}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  
}